<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
	bootstrap="tests/autoload.php"
	colors="true">

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">html/app/src</directory>
		</whitelist>
	</filter>
	  
	<testsuites>
		<testsuite name="unit tests">
			<directory>tests/unit</directory>
		</testsuite>
	</testsuites>

</phpunit>
