
@import 'config';
@import 'site/font';
@import 'site/reset';
@import 'site/html';

@import 'components/buttons';
@import 'components/forms';

.site-main {

	height: 100vh;
	display: grid;
	place-items: center;
	
	background: #595f72;
}

.site-main__main {
	background: #eee;
	padding: 1.5em;
	min-width: 20em;
	max-width: 90vw;
	
	box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
}

.form--default {
	label {
		display: block;
	}
	
	.input-text {
		width: 100%;
	}
	
	.btn {
		width: 100%;
	}
}
